*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(90deg, #cee5d0, #fcf8e8);
    background-repeat: no-repeat;
    background-attachment: fixed; /* makes it stick while scrolling */
    background-size: cover; 
    color: white;
}

header, button{
    background-color: #ce9461;
}

button{
    color: white;
    border: none;
}

header{
    padding: 12px;
}

header h1{
    font-size: 28px;
}

main{
    padding: 12px;
    font-family: sans-serif;
}

main h2, table caption, h3{
    color: #6f7276;
}

table{
    caption-side: bottom;
    margin: 30px auto;
}

table thead{
    background-color: #dea057;
}

table th{
    padding: 5px 70px;
}

table th:first-child, th[class="header-button"]{
    padding: 5px 30px;
}

table td{
    color: black;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}

table caption{
    margin-top: 20px;
}

#table-body tr:hover{
    background-color: #e0d8b0;
}

.row-button{
    padding: 3px 15px;
}

#edit-dialog{
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, #cee5d0, #fcf8e8);
    border: 4px solid #ce9461;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#close-dialog{
    position: relative;
    left: 270px;
    top: 5px;
    color: red;
    background-color: transparent;
}

.buttons{
    text-align: center;
}

.buttons button{
    color: white;
    border: none;
    padding: 5px 10px;
    width: 80px;
    border-radius: 7px;
    margin: auto 5px;
}

button:hover{
    cursor: pointer;
}

#book-form{
    width: 350px;
    margin: 0px auto 30px;
    display: none;
}

#book-form label{
    color: black;
}

#book-form div, #edit-form div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#book-form div:last-child, #edit-form div:last-child{
    justify-content: end;
}

#book-form input, #book-form button{
    width: 200px;
    border: none;
}

#book-form button{
    padding: 5px;
    color: white;
}

#edit-form{
    margin: 30px auto;
    width: 250px;
}

#edit-form input{
    width: 120px;
}

#edit-form button{
    width: 120px;
    border: none;
    padding: 5px 0;
    margin-top: 5px;
}

