*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(90deg, #cee5d0, #fcf8e8);
    background-repeat: no-repeat;
    background-attachment: fixed; /* makes it stick while scrolling */
    background-size: cover; 
    color: white;
}

header, button{
    background-color: #ce9461;
}

header{
    padding: 12px;
}

header h1{
    font-size: 28px;
}

main{
    padding: 12px;
    font-family: sans-serif;
}

main h2, table caption{
    color: #6f7276;
}

table{
    caption-side: bottom;
    margin: 30px auto;
}

table thead{
    background-color: #dea057;
}

table th{
    padding: 5px 80px;
}

table th:first-child{
    padding: 5px 30px;
}

.buttons{
    text-align: center;
}

.buttons button{
    color: white;
    border: none;
    padding: 5px 10px;
    width: 80px;
    border-radius: 7px;
    margin: auto 5px;
}

button:hover{
    cursor: pointer;
}